<div class="outer">
    <div class="container">
        <div class="row">
            <div class ="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Create Customer</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="customerForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="customerForm.controls['Name'].dirty && customerForm.hasError('required', 'firstName')">
                                    <span class ="fa fa-user p-2"></span>
                                    <input formControlName="Name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <small *ngIf="customerForm.controls['Name'].dirty && customerForm.hasError('required', 'Name')" class="text-danger">*Name is required</small>
                            
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="customerForm.controls['email'].dirty && customerForm.hasError('required', 'email')">
                                    <span class ="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="customerForm.controls['email'].dirty && customerForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class ="fa fa-user p-2"></span>
                                    <input formControlName="clientid" type="text" placeholder="Client Id">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class ="fa fa-user p-2"></span>
                                    <input formControlName="clientsecret" type="text" placeholder="Client Secret">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="customerForm.controls['allowedResources'].dirty && customerForm.hasError('required', 'allowedResources')">
                                    <span class ="fa fa-user p-2"></span>
                                    <input formControlName="allowedResources" type="number" placeholder="Allowed Resources" min="1">
                                </div>
                            </div>
                            <small *ngIf="customerForm.controls['allowedResources'].dirty && customerForm.hasError('required', 'allowedResources')" class="text-danger">*Allowed Resources is required</small>
                           <br>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-50" (click)="onCreate()">Create</button>
                            <button class="btn btn-primary btn-block mt-4 w-50" routerLink="/dashboard">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


