<!-- <app-navbar></app-navbar> -->
<!-- <ng-container *ngIf="role === 'Admin'">
    <button routerLink="/createCustomer" >Add Customers</button>
</ng-container> -->


<div class="container">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div  class="d-flex justify-content-end">
                <ng-container *ngIf="role === 'Admin'">
                    <button routerLink="/createCustomer" type="button" class="btn btn-outline-secondary" style="margin-top: 3rem;">Add Customer</button>
                </ng-container>
            </div>
            <div class="panel-heading">
                <h2>Subscription Tracking</h2>
            </div>
            <br>
            <div class="panel-body">
                <div class="table-responsive">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>#</th>
                            <th>CustomerId</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Allowed Resources</th>
                            <ng-container *ngIf="role === 'Admin'">
                                <th>Action</th>	
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let customer of customers; let i = index">
                            <tr>
                                <td>
                                    <button class="btn btn-default btn-xs" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fa fa-sort-down"></i>
                                    </button>
                                </td>
                                <td>{{ i + 1 }}</td>
                                <td>{{ customer.customerId }}</td>
                                <!-- <td>{{ customer.name }}</td> -->
                                <td>
                                    <div *ngIf="customer.isEdit">
                                        <input type="text" class="form-control" [(ngModel)]="customer.name">
                                    </div>
                                    <div  *ngIf="!customer.isEdit">
                                        {{ customer.name }}
                                    </div>
                                </td>
                                <!-- <td>{{ customer.email }}</td> -->
                                <td>
                                    <div *ngIf="customer.isEdit">
                                        <input type="text" class="form-control" [(ngModel)]="customer.email">
                                    </div>
                                    <div  *ngIf="!customer.isEdit">
                                        {{ customer.email }}
                                    </div>
                                </td>
                                <!-- <td>{{ customer.allowedResources }}</td> -->
                                <td>
                                    <div *ngIf="customer.isEdit">
                                        <input type="number" class="form-control" [(ngModel)]="customer.allowedResources">
                                    </div>
                                    <div  *ngIf="!customer.isEdit">
                                        {{ customer.allowedResources }}
                                    </div>
                                </td>
                                <td class="text-center"> 
                                    <ng-container *ngIf="role === 'Admin'">
                                        <div *ngIf="!customer.isEdit">
                                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEditCustomer(customer)"></i>
                                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteCustomer(customer)"></i>
                                        </div>
                                        <div *ngIf="customer.isEdit">
                                            <i class="fa fa-cloud px-1" (click)="onUpdateCustomer(customer)" aria-hidden="true"></i>
                                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancelCustomer(customer)"></i>
                                        </div>
                                    </ng-container>
                                </td>
                                
                            </tr>
                            <tr>
                                <td colspan="10" class="hiddenRow">
                                    <div class="collapse" [id]="'collapse' + i"> 
                                        <table class="table table-striped" *ngIf="customer.devices">
                                            <!-- <table class="table table-striped"> -->
                                            <thead>
                                                <tr class="info">
                                                    <th>Device Id</th>
                                                    <th>Application Id</th>
                                                    <th>Start Date</th>		
                                                    <th>End Date</th>	
                                                    <th>Plan Status</th>	
                                                    <ng-container *ngIf="role === 'Admin'">
                                                        <th>Action</th>	
                                                    </ng-container>
                                                    
                                                </tr>
                                            </thead>	
                                            <tbody>			
                                                <tr class="SecondTable" *ngFor="let device of customer.devices">
                                                    <!-- <tr class="SecondTable"> -->
                                                    <td>{{device.deviceId}}</td>
                                                    <td>{{device.applicationId}}</td>
                                                    <td>
                                                        <div *ngIf="device.isEdit">
                                                            <input type="text" class="form-control" [(ngModel)]="device.startDate">
                                                        </div>
                                                        <div  *ngIf="!device.isEdit">
                                                            {{device.startDate}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="device.isEdit">
                                                            <input type="text" class="form-control" [(ngModel)]="device.endDate">
                                                        </div>
                                                        <div  *ngIf="!device.isEdit">
                                                            {{device.endDate}}
                                                        </div>
                                                    </td>
                                                    <td>{{ isPlanActive(device.IsPlanActive) ? 'Active' : 'InActive' }}</td>

                                                    <td class="text-center"> 
                                                        <ng-container *ngIf="role === 'Admin'">
                                                            <div *ngIf="!device.isEdit">
                                                                <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(device)"></i>
                                                                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(device)"></i>
                                                            </div>
                                                            <div *ngIf="device.isEdit">
                                                                <i class="fa fa-cloud px-1" (click)="onUpdate(device)" aria-hidden="true"></i>
                                                                <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(device)"></i>
                                                            </div>
                                                        </ng-container>
                                                        
                                                       
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        <ng-container *ngIf="role === 'Admin'">
                                                            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/register-device', customer.customerId]">Add Devices <i class="fa fa-plus"></i></button>
                                                        </ng-container>
                                                        
                                                    </td>
                                                </tr>        
                                            </tbody>
                                        </table>
                                    </div> 
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->
